<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1>Este es mi sitio protegido xd</h1>
<p th:text="${usuario.principal.authorities[0].attributes.name}"></p>
<p th:text="${usuario.principal.authorities[0].attributes.email}"></p>
<a th:href="@{'usuario/agregar/' +${usuario.principal.authorities[0].attributes.name} +'/'  + ${usuario.principal.authorities[0].attributes.email}">
    <span>Agrégame</span>
</a>

<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id}">Id</td>
        <td th:text="${u.nombres}">Nombres</td>
        <td th:text="${u.email}">Correo</td>
    </tr>
</table>
</body>
</html>