<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1>Este es mi sitio protegido xd</h1>
<p th:text="${usuario.principal.authorities[0].attributes.name}"></p>
<p th:text="${usuario.principal.authorities[0].attributes.email}"></p>
<form action="#" th:action="@{'usuario/agregar/' +${usuario.principal.authorities[0].attributes.name} +'/'  + ${usuario.principal.authorities[0].attributes.email}}" method="post">
    <input type="submit" />
</form>

<table>
    <tr>
        <th>Id</th>
        <th>Nombres</th>
        <th>Correo</th>
    </tr>
    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nombres}"></td>
        <td th:text="${u.email}"></td>
    </tr>
</table>
</body>
</html>